doctype html
html
  head
    title= content_for(:title) || "Weather App"
    meta name="viewport" content="width=device-width,initial-scale=1"
    meta name="apple-mobile-web-app-capable" content="yes"
    meta name="application-name" content="Weather App"
    meta name="mobile-web-app-capable" content="yes"
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    -# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!)
    -#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json)

    link rel="icon" href="/icon.png" type="image/png"
    link rel="icon" href="/icon.svg" type="image/svg+xml"
    link rel="apple-touch-icon" href="/icon.png"

    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  body class="d-flex flex-column min-vh-100"
    nav.navbar.navbar-expand-sm.navbar-light.bg-light
      .container
        a.navbar-brand href="/"
          = Rails.application.class.module_parent_name
        button.navbar-toggler type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          span.navbar-toggler-icon

        .collapse.navbar-collapse id="navbarSupportedContent"
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              = link_to "About", about_path, class: "nav-link"

    main.flex-grow-1.container.py-4
      = render 'shared/flash'
      = yield

    footer.bg-light.mt-auto.py-3
      .container.text-center.small.text-muted
        | &copy;#{Time.current.year} Wicked Awesome Weather

    = console if Rails.env.development? && request.params[:console]
